<main>
    <app-social-card 
        [icon]="faTwitch"
        [link]="'https://www.twitch.tv/frikymedialp'"
        [color]="{ 'background-color': 'var(--brand-twitch)' }"
        [name]="'Twitch'"
        [info]="'@FrikyMediaLP'"
        [video]="'./../../assets/socials/twitch.mp4'"
        [format]="'vertical'"
        [playbackRate]="2"
    ></app-social-card>

    <app-social-card 
        [icon]="faTwitter"
        [link]="'https://www.twitter.com/frikymedialp'"
        [color]="{ 'background-color': 'var(--brand-twitter)' }"
        [name]="'Twitter'"
        [info]="'@FrikyMediaLP'"
        [video]="'./../../assets/socials/twitter1.mp4'"
        [format]="'vertical'"
    ></app-social-card>

    <app-social-card 
        [icon]="faTwitter"
        [link]="'https://www.twitter.com/frikybot'"
        [color]="{ 'background-color': 'var(--brand-twitter)' }"
        [name]="'Twitter'"
        [info]="'@FrikyBot'"
        [video]="'./../../assets/socials/twitter2.mp4'"
        [format]="'vertical'"
    ></app-social-card>

    <app-social-card 
        [icon]="faYoutube"
        [link]="'https://www.youtube.com/channel/UCkaQKWpz9n279Rs7BiDPwcw'"
        [color]="{ 'background-color': 'var(--brand-youtube)' }"
        [name]="'YouTube'"
        [info]="'@FrikyMediaLP'"
        [video]="'./../../assets/socials/youtube.mp4'"
        [format]="'vertical'"
    ></app-social-card>

    <app-social-card 
        [icon]="faDiscord"
        [color]="{ 'background-color': 'var(--brand-discord)' }"
        [name]="'Discord'"
        [info]="'@FrikyMediaLP'"
        [video]="'./../../assets/socials/discord.mp4'"
        [format]="'vertical'"
    ></app-social-card>

    <app-social-card 
        [icon]="faInstagram"
        [color]="{ 'background': 'var(--brand-instagram)' }"
        [name]="'Instagram'"
        [info]="'@FrikyMediaLP'"
        [link]="'https://www.instagram.com/frikymedialp'"
        [video]="'./../../assets/socials/instagram.mp4'"
        [format]="'vertical'"
    ></app-social-card>

    <app-social-card 
        [icon]="faGithub"
        [link]="'https://github.com/FrikyMediaLP'"
        [color]="{ 'background-color': 'var(--brand-github)' }"
        [name]="'Github'"
        [info]="'@FrikyMediaLP'"
        [video]="'./../../assets/socials/github.mp4'"
        [format]="'vertical'"
    ></app-social-card>

    <app-social-card 
        [icon_URL]="'./../../assets/socials/overbuff_white.png'"
        [link]="'https://www.overbuff.com/players/FrikyMediaLP-2647'"
        [color]="{ 'background-color': 'var(--brand-overbuff)' }"
        [name]="'Overbuff'"
        [info]="'@FrikyMediaLP'"
        [format]="'vertical'"
        [video]="'./../../assets/socials/overbuff.mp4'"
    ></app-social-card>

    <app-social-card 
        [icon]="faEnvelope"
        [link]="'mailto:frikymedia3105@gmail.com'"
        [color]="{ 'background-color': 'var(--color-light)' }"
        [name]="'Gaming E-mail'"
        [info]="'frikymedia3105@gmail.com'"
    ></app-social-card>

    <app-social-card 
        [icon]="faEnvelope"
        [link]="'mailto:timklenk3105@gmail.com'"
        [color]="{ 'background-color': 'var(--color-light)' }"
        [name]="'Business E-mail'"
        [info]="'timklenk3105@gmail.com'"
    ></app-social-card>
</main>