:host {
    z-index: 40;
    display: block;
    position: sticky;
    top: 0;
    margin: 0 auto;
    margin-bottom: 2rem;
    width: 100%;
}

:host:not(.inline) {
    position: fixed;
    width: 100vw;
}

nav {
    transition: background-color 500ms ease, border-color 500ms ease;
    background-color: rgba(16, 16, 16, 0.4);
    border-bottom: 1px solid rgba(var(--accent-numbers), 0.4);
}

nav.inline:not(.scrolled) {
    background: none;
    border-color: transparent;
}

nav.scrolled {
    background-color: rgba(16, 16, 16, 1);
    border-color: transparent;
}

ul {
    color: white;
    font-family: Roboto, sans-serif;
    list-style: none;
    display: flex;
    flex-flow: row;
    margin: 0 auto;
    padding: 0;
    gap: 1rem;
    position: relative;
    width: fit-content;
}

li {
    text-decoration: none;
}

a:not(.loggedin) {
    color: white;
    font-weight: 300;
    text-decoration: none;
    text-transform: uppercase;
    padding: 1rem;
    display: block;
}

a:hover {
    color: var(--accent);
}

li img {
    translate: 0 0.1rem;
    height: 2rem;
    margin: 0.4rem;
    padding: 0.1rem;
    border-radius: 0.5rem;
    background-color: rgba(var(--accent-numbers), 0.2);
    cursor: pointer;
    transition: 500ms ease;
}

li:hover img {
    background-color: rgba(var(--accent-numbers), 0.6);
}