<a [attr.href]="link" class="card" [ngStyle]="color" (mouseenter)="replayVideo()">
    <fa-icon *ngIf="icon" [icon]="icon"></fa-icon>
    <img *ngIf="icon_URL" [src]="icon_URL" [alt]="name" />
    <div class="info">
        <p>{{name}}</p>
        <p>{{info}}</p>
    </div>
    <video 
        *ngIf="video"
        #videoRef
        [ngClass]="{ 'vertical': format === 'vertical', 'horizontal': format === 'horizontal' }"
        muted loop (error)="videoError($event)">
        <source [src]="video" (error)="videoError($event)" />
    </video>
</a>