.card {
    display: inline-block;
    height: 30rem;
    width: 20rem;
    border: 2px solid white;
    border-radius: 1rem;
    color: white;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.card:focus-visible,
.card:hover {
    outline: none;
    width: calc(20rem + 20px);
    height: calc(30rem + 20px);
    translate: -10px -10px;
    transition: 150ms;
    z-index: 5;
}

.card .info {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    translate: -50% 0;
    text-align: center;
    z-index: 2;
}

.card .info p:nth-child(1) {
    font-size: 3rem;
    font-weight: bold;
}

.card .info p:nth-child(1) {
    margin-bottom: 1rem;
}

.card .info p {
    margin-top: 0;
    font-size: 1rem;
    color: white;
}

.card img {
    width: 12rem;
}

.card video {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: 1;
    transition: 250ms ease;
}
.card video.horizontal {
    height: 100%;
}
.card video.vertical {
    width: 100%;
}

.card:focus-visible video,
.card:hover video {
    opacity: 0.8;
    transition: 1s ease;
    transition: 150ms ease;
}


.card fa-icon, .card img {
    font-size: 10rem;
    position: absolute;
    top: 5rem;
    left: 50%;
    translate: -50% 0;
    z-index: 2;
}

a.alternateIcons fa-icon {
    opacity: 1;
    transition: opacity 0.5s ease;
}
a.alternateIcons fa-icon:nth-of-type(2) {
    opacity: 0;
}

a.alternateIcons.alternate fa-icon:nth-of-type(1) {
    opacity: 0;
    animation: jitter 0.2s;
    animation-iteration-count: 3;
    animation-direction: normal;
}

a.alternateIcons.alternate fa-icon:nth-of-type(2) {
    opacity: 1;
    animation: jitter 0.2s;
    animation-iteration-count: 3;
    animation-direction: reverse;
}

a.alternateIcons:not(.alternate):not(.firstItteration) fa-icon:nth-of-type(1) {
    opacity: 1;
    animation: jitter2 0.2s;
    animation-iteration-count: 3;
    animation-direction: normal;
}

a.alternateIcons:not(.alternate):not(.firstItteration) fa-icon:nth-of-type(2) {
    opacity: 0;
    animation: jitter2 0.2s;
    animation-iteration-count: 3;
    animation-direction: reverse;
}

@keyframes jitter {
    0% {
        transform: skew(0deg) translate(0px, 0px);
    }
    17% {
        transform: skew(0.5deg) translate(-5px, 0px);
    }
    32% {
        transform: skew(0.5deg) translate(0px, 0px);
    }
    48% {
        transform: skew(0deg) translate(0px, 0px);
    }
    63% {
        transform: skew(-0.5deg) translate(5px, 0px);
    }
    79% {
        transform: skew(-0.5deg) translate(0px, 0px);
    }
    100% {
        transform: skew(0deg) translate(0px, 0px);
    }
}

@keyframes jitter2 {
    0% {
        transform: skew(0deg) translate(0px, 0px);
    }
    17% {
        transform: skew(0.5deg) translate(-5px, 0px);
    }
    32% {
        transform: skew(0.5deg) translate(0px, 0px);
    }
    48% {
        transform: skew(0deg) translate(0px, 0px);
    }
    63% {
        transform: skew(-0.5deg) translate(5px, 0px);
    }
    79% {
        transform: skew(-0.5deg) translate(0px, 0px);
    }
    100% {
        transform: skew(0deg) translate(0px, 0px);
    }
}